#go-to-top-wrapper {
    width: 100vw;
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
}

#go-to-top-button {
    max-height: 2rem;
    opacity: 0.6;
}

#go-to-top-button:hover {
    opacity: 1;
}