:host{
    display: block;
}
#form-footer-block{
    position: fixed;
    margin-left: -21px !important;
    margin-right: -1em;
    padding: .5em 1em;
    width: auto;
    border-top:1px solid #bdbdbd;
    background: #fff;
    z-index: 1;
    bottom: 0;
}

#form-footer-spacer{
    height: 46px;
    margin-bottom: -11px;
}

.progress-footer-spacer {
    height: 75px !important;
}

.progress-bar {
    margin-bottom: 10px;
}