.naya-card-edit {
    margin-top: -10px;
    padding: 0 0.5em;

    .naya-header {
        margin-bottom: -5px;
    }

    .naya-button {
        text-align: right;
    }

    h5 {
        margin-top: 10px;
    }
}
