.login-card {
    width: 375px !important;
}
.login-card-inner {
    height: 250px !important;
}

.login-button {
    text-align: center;
    width: 200px;
    margin:auto;
}

.naya-message {
    margin-top:14px;
}

.naya-error-message {
    color: red;
}